<md-chips ng-model="vm.model" class="md-block"
    md-autocomplete-snap 
    md-transform-chip="vm.transFormIfExists($chip)"
   >
    <md-autocomplete 
        ng-model="vm.model"
        md-search-text="vm.searchText" 
        md-no-cache="true" 
        md-items="item in vm.refreshItems(vm.searchText)"
        md-item-text="item[vm.prop]" 
        md-delay="1000" 
        md-min-length="0"
        placeholder="{{vm.placeHolder||'دسته بندی های مرتبط'}}">
        <span md-highlight-text="vm.searchText">{{item[vm.prop]}}</span>
    </md-autocomplete>
    <md-chip-template>
        <span>
    <strong>{{$chip[vm.prop]}}</strong>
    </span>
    </md-chip-template>
</md-chips>