@model List<VarinaCmsV2.DomainClasses.Entities.EShop.ShoppingCartItem>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Form", "Cart"))
    {
            <table>
                @if (Model != null )
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
               
                        <tr style="vertical-align: top">
                            <td style="font-size: 12px; padding-left: 2px">
                                @Html.DisplayFor(modelItem => Model[i].Quantity) -
                            </td>
                           
                        </tr>
                        @Html.HiddenFor(modelItem => Model[i].Id) 
                       
                    }
                }
            </table>
        <input type="submit" value="Save" style="float: right; width: 70px; font-size: 12px" />
    }
</div>
</body>
</html>