<md-accordion-group>
    <md-divider style="margin: 0px 0px;"></md-divider>
    <md-accordion-content md-heading="دسته بندی" md-arrow="true">
        <div >
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label=" دسته بندی های اخیر">
                    <md-content>
                        <md-table-container>
                            <table md-table md-row-select multiple ng-model="vm.selectedCategories">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column md-numeric>همه</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select="category" md-select-id="id" ng-repeat="category in vm.categories">
                                        <td md-cell>{{category.schemeTitle }} | {{ category.displayName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-content>
                </md-tab>
                <md-tab label="جستجو">
                    <md-content flex layout-padding>
                        <md-input-container flex class="md-block">
                            <label for="category-search">عنوان جستو جو</label>
                            <input type="text" id="category-search" ng-model="vm.categorySearchText">
                        </md-input-container>

                        <md-table-container>
                                <table md-table md-row-select multiple ng-model="vm.selectedCategories">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column md-numeric>همه</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select="category" md-select-id="id" ng-repeat="category in vm.searchedCategories">
                                            <td md-cell>{{category.schemeTitle }} | {{ category.title}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>

                        <md-button class="simple md-primary" ng-click="vm.searchForCategories(vm.categorySearchText)" >
                            جستجو
                        </md-button>
                    </md-content>
                </md-tab>

            </md-tabs>
            <md-button class="simple md-primary md-raised" ng-click="vm.addSelectedCategoriesToMenu()" aria-label="افزودن به لیست"> افزودن به لیست </md-button>
        </div>
    </md-accordion-content>
</md-accordion-group>