   <footer>
    {{vm.widget_containers.footer }}
            {% comment %} <section class="footer-down">
                <div class="container-puz width">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                            <div class="varina">
                                <p>برنامه نویسی و طراحی با
                                    <i class="fa fa-heart"></i>توسط</p>
                                <a href="">
                                    <img src="/Content/HomeImages/logo-varina.png" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}
</footer>
  {% comment %} <footer class="padding">
            <section class="footer">
                <div class="container-puz width">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1">
                            <a href="" title="">
                                <img src="/Content/HomeImages/logo-footer.png" class="img-responsive img-center">
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                            <p class="m-t-9">پازل توسط سرورهای
                                <a href="http://varina.co/" title="وارینا" class="link-varina">وارینا</a>میزبانی و پشتیبانی می‌شود</p>
                            <p>تولید و توسعه نرم‌افزار پازل توسط
                                <a href="http://varina.co/" title="شرکت وارینا" class="link-varina">شرکت وارینا</a>انجام می‌شود.</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-left">
                            <ul class="list-social pull-left">
                                <li>
                                    <a href="" title="">
                                        <i class="zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <i class="zmdi zmdi-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="" title="">
                                        <i class="zmdi zmdi-instagram"></i>
                                    </a>
                                </li>
                                <li class="aparat">
                                    <a href="" title="">
                                        <!--img.img-responsive(src='/Content/HomeImages/aparat_icon.png')-->
                                    </a>
                                </li>
                            </ul>
                            <p class="copy pull-left"> پازل در شبکه های اجتماعی</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="footer-down">
                <div class="container-puz width">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-5">
                            <p>© کپی بخش یا کل هر کدام از مطالب پارل تنها با کسب مجوز مکتوب امکان پذیر است.</p>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 pull-left">
                            <ul class="list-footer pull-left">
                                <li>
                                    <a href="" title="درباره ما">درباره ما</a>
                                </li>
                                <li>
                                    <a href="" title="تبلیغات در پازل">تبلیغات در پازل</a>
                                </li>
                                <li>
                                    <a href="" title="">تماس با ما</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </footer> {% endcomment %}