<div id="myModal" tabindex="-1" role="dialog" class="modal fade modal-forget">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box-forget">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <input id="forget" name="forget" placeholder="فراموشی رمز عبور" type="text" value="" class="form-control">
                        <div class="clearfix"></div>
                        <span class="field-validation-error">رمز عبور اشتباه است</span>
                        <a href="" class="btn-modal pull-left">تایید</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>