<div class="form-item sign-up">
    <div class="table">
        <form data-parsley-validate="">
            <div class="table-cell">
                <input name="EmailOrPhone" placeholder="ایمیل یا شماره تلفن" type="text">
                <input name="fullName" placeholder="نام" type="text">
                <input name="Username" placeholder="نام کاربری" type="text">
                <input name="Password" required data-parsley-required-message="رمز عبور خالی مانده است" placeholder="رمز عبور" type="Password">
                <button class="btn">ثبت نام</button>
                <button class="btn register-c hidden-md hidden-lg">ورود</button>
            </div>
        </form>
    </div>
</div>