<li>
    <div class="cd-section">
        <div class="cd-modal-action">
            <a href="#0" data-type="modal-trigger" class="search-icon"></a>
            <span class="cd-modal-bg"></span>
        </div>
        
        <div class="cd-modal">
            <div class="cd-modal-content80">
                <div class="container">
                    <div class="col-xs-12 col-lg-6 col-lg-offset-2 position">
                        <div class="box-search">
                            <form id="search-form"  action="/search/blog" method="get">
                                <div class="input-group hi-icon-effect-8">
                                    <span class="input-group-btn">
                                     <a id="search-place-holder" target="_blank" class="btn btn-search hi-icon hi-icon-archive">    <i class="fa fa-search"></i></a>
                                    </span>
                                    <input type="text" id="search-input" name="searchText" placeholder="جستجو کنید" class="form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <a href="#0" class="cd-modal-close">Close</a>
    </div>
</li>