<md-accordion>
    <md-accordion-group>
        <md-accordion-content md-heading="جستجو" md-arrow="true">
            <md-whiteframe style="background-color: rgba(224, 226, 229, 0.14);" class="md-whiteframe-4dp" flex layout-padding>
                <form name="vm.filterForm" flex layout="row">
                    <div layout="row" flex="10">

                    </div>
                    <div layout="column" flex="30">
                        <md-input-container class="md-block">
                            <label for="fromDate">نام تخفیف</label>
                            <input ng-enter="vm.filter()" autocomplete="off" ng-model="vm.query.name" name="name" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="fromDate">کد کپن</label>
                            <input autocomplete="off" ng-model="vm.query.couponCode" name="Coupon" />
                        </md-input-container>
                        <md-input-container>
                            <label>نوع تخفیف</label>
                            <md-select flex ng-model="vm.query.discountType">
                                <md-option ng-value="">همه</md-option>
                                <md-option ng-value="1">به کل قیمت سفارش</md-option>
                                <md-option ng-value="2">به محصول</md-option>
                                <md-option ng-value="5">به دسته بندی</md-option>
                                <md-option ng-value="10">هزینه ارسال</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="50">

                    </div>
                    <md-button ng-click="vm.filter()" class="simple md-primary md-raised">
                        فیلتر
                        <md-icon md-svg-src="/Src/Html/svg/ic_filter_list_white_24px.svg"></md-icon>
                    </md-button>
                </form>
            </md-whiteframe>
        </md-accordion-content>
    </md-accordion-group>
</md-accordion>