<md-dialog aria-label="label" ng-keydown="($event.ctrlKey && $event.which==83 &&vm.widgetForm.$valid &&($event.preventDefault() ||vm.ok()))" class="form-dialog-medium" style="max-height: auto">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>محتوای ثابت (html)</h3>
            <span flex></span>
            <md-button ng-disabled="vm.widgetForm.$invalid" aria-label="" class="md-fab down-edge" ng-click="vm.ok()">
                <md-icon md-svg-src="check-white" aria-label="label"></md-icon>
                <md-tooltip md-direction="bottom">
                    افزودن
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <form layout-padding layout="row" novalidate name="vm.widgetForm">
        <md-input-container flex class="md-block">
            <label>عنوان</label>
            <input  autocomplete="off" type="text" name="title" required ng-model="vm.widget.title">
        </md-input-container>
        <md-input-container flex ng-if="vm.isInRole('Developer')" class="md-block" md-is-error="vm.widgetForm.handle.$invalid && vm.widgetForm.handle.$dirty">
            <label>دستگیره</label>
            <input type="text" autocomplete="off" ng-pattern="/^[a-zA-Z0-9_-]+$/" name="handle" required ng-model="vm.widget.handle">
            <div ng-messages="vm.widgetForm.handle.$error">
                <div ng-messages-include="/Src/app.core/partials/messages.html"></div>
                <p ng-message="pattern"> حروف مجاز : [a-zA-Z0-9_-]</p>
            </div>
        </md-input-container>
    </form>
        <div ui-codemirror class="codemirror" ng-model="vm.widget.metaData.htmlContent" ui-codemirror-opts="vm.codemirrorOptions" ></div>

    <md-dialog-actions>
        <md-button ng-click="vm.closeDialog()" class="md-warn" aria-label="">بستن</md-button>
    </md-dialog-actions>
</md-dialog>