<md-dialog ng-keydown="($event.ctrlKey && $event.which==83 &&vm.widgetForm.$valid &&($event.preventDefault() ||vm.ok()))"
    aria-label="label" class="form-dialog-medium">
    <md-dialog-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>آخرین محصولات</h3>
                <span flex></span>
                <md-button ng-disabled="vm.widgetForm.$invalid" aria-label="" class="md-fab down-edge" ng-click="vm.ok()">
                    <md-icon md-svg-src="check-white" aria-label="label"></md-icon>
                    <md-tooltip md-direction="bottom">
                        افزودن
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <div ng-nicescroll nice-option="{cursorcolor: '#e2edff'}">
            <md-card>
                <form layout-padding layout="row" novalidate name="vm.widgetForm">
                    <md-input-container flex ng-if="vm.isInRole('Developer')" class="md-block" md-is-error="vm.widgetForm.handle.$invalid && vm.widgetForm.handle.$dirty">
                        <label>دستگیره</label>
                        <input type="text" autocomplete="off" ng-pattern="/^[a-zA-Z0-9_-]+$/" name="handle" required ng-model="vm.widget.handle">
                        <div ng-messages="vm.widgetForm.handle.$error">
                            <div ng-messages-include="/Src/app.core/partials/messages.html"></div>
                            <p ng-message="pattern"> حروف مجاز : [a-zA-Z0-9_-]</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>تعداد مطلب</label>
                        <input autocomplete="off" type="number" ng-model="vm.widget.metaData.count">
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>عنوان</label>
                        <input autocomplete="off" type="text" ng-model="vm.widget.title">
                    </md-input-container>
                </form>
            </md-card>
            <div replace ng-include="'/Src/app/widgets/availibleWidgets/widgetOptions.tpl.html'"></div>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.closeDialog()" class="md-warn" aria-label="">بستن</md-button>
    </md-dialog-actions>
</md-dialog>