<md-dialog class="form-dialog-medium" aria-label="label">
    <md-toolbar class="md-hue-2">
        <md-progress-linear md-mode="indeterminate" ng-show="vm.isSendingData" class="md-warn"></md-progress-linear>

        <div class="md-toolbar-tools">
                <md-icon md-svg-src="user-edit" aria-label="label" class="tool-bar-icon"></md-icon>
                <p> ویرایش کاربر</p>
            <span flex></span>
            <md-button class="md-fab down-edge" ng-disabled="vm.isSendingData" ng-click="vm.ok()">
                <md-icon md-svg-icon="check-white"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>

        <form name="vm.userForm" novalidate layout-padding layout="column">
                <div replace ng-include="'/Src/app/userManagement/user.AddOrUpdate_sharedFields.html'"></div>
                
            <!-- <md-whiteframe class="md-whiteframe-10dp" flex flex-gt-sm="45" layout="column">
            </md-whiteframe> -->
            <!-- <span flex></span> -->
            <!-- <md-whiteframe class="md-whiteframe-10dp" flex-gt-sm="50" flex layout="column">
                <fieldset class="standard">
                    <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>
                    <div layout="row" layout-wrap flex>
                        <div flex="50">
                            <md-checkbox ng-repeat="role in vm.roles">
                             {{role.name}}
                            </md-checkbox>
                        </div>
                    </div>
                </fieldset>
            </md-whiteframe> -->
        </form>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.cancel()" class="" aria-label="بستن">بستن</md-button>
    </md-dialog-actions>
</md-dialog>